// progress-bar
// ===

// Configurable Variables
// ---

$progress-bar__variable-name: true !default;


// Dependencies
// ---

@import 'stencil-variables/variables';
@import 'level/level';


@mixin state-colors($color) {
    .c-progress-bar__label {
        color: $color;
    }

    .c-progress-bar__progress {
        background-color: $color;
    }

    .c-progress-bar__spinner-progress {
        stroke: $color;
    }
}

// Progress Bar root
// ---

.c-progress-bar {
    display: flex;
    height: $tap-size;
    margin: 0 15px;

    align-items: center;
}


// Process Bar sub-component
// ---

.c-progress-bar__spinner-section {
    &:not(:empty) {
        position: relative;

        width: 45px;
        height: 45px;
        margin-right: 10px;
    }

    .c-progress-bar__spinner {
        .c-progress-bar__spinner-background {
            stroke: $neutral-50;
        }
    }

    .c-progress-bar__text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.c-progress-bar__bar-section {
    margin-right: 5px;

    flex-grow: 1;

    .c-progress-bar__background {
        overflow: hidden;
        height: 5px;

        background: $neutral-50;
    }

    .c-progress-bar__progress {
        transform: translate3d(-100%, 0, 0);

        height: 5px;
        width: 100%;

        background: $accent-color;

        transition: transform 0.5s ease-in;
    }
}

.c-progress-bar__extra-section {
    position: relative;

    width: 35px;
    height: 25px;

    .c-progress-bar__text {
        position: absolute;
        right: 0;
        bottom: -3px;
    }
}

.c-progress-bar__indicator {
    width: 25px;
    height: 25px;

    .c-progress-bar__spinner-section & {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .c--icon-check {
        width: 25px;
        height: 25px;

        background-color: $success-color;
        mask: url('/bower_components/shoppicon/svg/check.svg') no-repeat 50% 50%;
        -webkit-mask:  url('/bower_components/shoppicon/svg/check.svg') no-repeat 50% 50%;
    }

    .c--icon-redo {
        width: 25px;
        height: 25px;

        background-color: $error-color;
        mask: url('/bower_components/shoppicon/svg/error.svg') no-repeat 50% 50%;
        -webkit-mask:  url('/bower_components/shoppicon/svg/error.svg') no-repeat 50% 50%;
    }

    .c-progress-bar--state-success & {
        .c--icon-check {
            display: block;
        }

        .c-progress-bar__text {
            display: none;
        }
    }

    .c-progress-bar--state-failure & {
        .c--icon-redo {
            display: block;
        }

        .c-progress-bar__text {
            display: none;
        }
    }
}


.c-progress-bar--state-inprogress {
    @include state-colors(black);
}

.c-progress-bar--state-success {
    @include state-colors($success-color);
}

.c-progress-bar--state-failure {
    @include state-colors($error-color);

}

.c-progress-bar--spinner-enabled {
    .c-progress-bar__spinner-section {
        display: block;
    }

    .c-progress-bar__extra-section {
        display: none;
    }

    .c-progress-bar__background {
        display: none;
    }
}


// Visually Hidden
//
// Remove from flow but leave available to screen readers.
//
// Attribution:
// https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css
// https://github.com/suitcss/utils-state/

.u-visually-hidden {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
}
